<p>loan-disbursement works!</p>



<h1 style="text-align: center;">Loan Data</h1>
<mat-card>
  <mat-card-content fxLayout="column" fxLayoutAlign="center center">
 
    <form [formGroup]="saveloan" (ngSubmit)="saveLoan()">
      
      <ng-template matStepLabel>Loan Data</ng-template>

    <mat-form-field>
      <input matInput type="text" class="form-control"  placeholder="Loan No" formControlName="loanNo">
    </mat-form-field><br>
    <mat-form-field>
      <input matInput type="text" class="form-control"  placeholder="Agreement Date" formControlName="agreementDate">
    </mat-form-field><br>
    <mat-form-field>
      <input matInput type="text" class="form-control"  placeholder="Amount Pay Type" formControlName="amountPayType">
    </mat-form-field><br>
    <mat-form-field>
      <input matInput type="text" class="form-control"  placeholder="Total Amount" formControlName="totalAmount">
    </mat-form-field><br>
    <mat-form-field>
      <input matInput type="text" class="form-control"  placeholder="Bank Name" formControlName="bankName">
    </mat-form-field><br>
    <mat-form-field>
      <input matInput type="text"  class="form-control"  placeholder="Account Number" formControlName="accountNumber">
    </mat-form-field><br>     
    <mat-form-field>
      <input matInput type="text"  class="form-control"  placeholder="IFSCCode" formControlName="IFSCCode">
    </mat-form-field><br>
    <mat-form-field>
      <input matInput type="text"  class="form-control"  placeholder="Account Type" formControlName="accountType">
    </mat-form-field><br>
   
    <mat-form-field>
      <input matInput type="text"  class="form-control"  placeholder="Transfer Amount" formControlName="transferAmount">
    </mat-form-field><br>
    <mat-form-field>
      <input matInput type="text"  class="form-control"  placeholder="Payment Status" formControlName="paymentStatus">
    </mat-form-field><br>
  
    <mat-form-field>
      <input matInput type="text"  class="form-control"  placeholder="Amount Paid Date" formControlName="amountPaidDate">
    </mat-form-field><br>
      <div>
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    
</form>

</mat-card-content>
</mat-card> 




