<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="about-section">
    <h1>About Us</h1>
    <!-- <p>We are Developer, We teach how to become full stack developer.</p> -->
  </div>

  <h2 style="text-align:center">Our Team(FDJB-148)</h2>

  <div >
    <div class="container mt-5 mb-5 d-flex justify-content-center">
      <div class="card rounded">
        <div class=" d-block justify-content-center">
          <div class="area1 p-3 py-5"> </div>
          <div class="area2 p- text-center px-3">
            <div class="image mr-3"> <img src="..\assets\img\Team\vinayak.jpeg" class="rounded-circle" width="80" />
              <h4 class=" name mt-3 ">Krishna Wadle</h4>
              <p class="title">Team Leader </p>
              
              <p>FullStack Developer</p>
              <p>krishnawadle@830gmail.com</p>
              
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="container mt-5 mb-5 d-flex justify-content-left">
      <div class="card rounded">
        <div class=" d-block justify-content-center">
          <div class="area1 p-3 py-5"> </div>
          <div class="area2 p- text-center px-3">
            <div class="image mr-3"> <img src="..\assets\img\Team\Ajay.jpeg" class="rounded-circle" width="80" />
              <h4 class=" name mt-3 ">Ajay Shipalkar</h4>
              <p class="title">Team Member </p>              
              <p>FullStack Developer</p>
              <p>asshipalkar@gmail.com</p>
             

            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="container mt-5 mb-5 d-flex justify-content-left">
      <div class="card rounded">
        <div class=" d-block justify-content-center">
          <div class="area1 p-3 py-5"> </div>
          <div class="area2 p- text-center px-3">
            <div class="image mr-3"> <img src="..\assets\img\Team\Prafull.jpeg" class="rounded-circle" width="80" />
              <h4 class=" name mt-3 ">Sourabh Bhukan</h4>
              <p class="title">Team Member </p>
              <p>FullStack Developer</p>
              <p>sourabhbhukan09@gmail.com</p>
             
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="container mt-5 mb-5 d-flex justify-content-left">
      <div class="card rounded">
        <div class=" d-block justify-content-center">
          <div class="area1 p-3 py-5"> </div>
          <div class="area2 p- text-center px-3">
            <div class="image mr-3"> <img src="..\assets\img\Team\Kunal.jpeg" class="rounded-circle" width="80" />
              <h4 class=" name mt-3 ">Kunal Deokar</h4>
              <p class="title">Team Member </p>
              <p>FullStack Developer</p>
              <p>kunal.deokar25@gmail.com</p>
              

            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="container mt-5 mb-5 d-flex justify-content-left">
      <div class="card rounded">
        <div class=" d-block justify-content-center">
          <div class="area1 p-3 py-5"> </div>
          <div class="area2 p- text-center px-3">
            <div class="image mr-3"> <img src="..\assets\img\Team\Akash.jpeg" class="rounded-circle" width="80" />
              <h4 class=" name mt-3 ">Akash Sonwane</h4>
              <p class="title">Team Member </p>
              <p>FullStack Developer</p>
              <p>sonwanea77@gmail.com</p>
              

            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="container mt-5 mb-5 d-flex justify-content-left">
      <div class="card rounded">
        <div class=" d-block justify-content-center">
          <div class="area1 p-3 py-5"> </div>
          <div class="area2 p- text-center px-3">
            <div class="image mr-3"> <img src="..\assets\img\Team\Yogita.jpeg" class="rounded-circle" width="80" />
              <h4 class=" name mt-3 ">Yogita Jadhao</h4>
              <p class="title">Team Member </p>
              <p>FullStack Developer</p>
              <p>jadhao.yogi4@gmail.com</p>
             

            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="container mt-5 mb-5 d-flex justify-content-left">
      <div class="card rounded">
        <div class=" d-block justify-content-center">
          <div class="area1 p-3 py-5"> </div>
          <div class="area2 p- text-center px-3">
            <div class="image mr-3"> <img src="..\assets\img\Team\Tejas.jpeg" class="rounded-circle" width="80" />
              <h4 class=" name mt-3 ">Tejas Borkar</h4>
              <p class="title">Team Member </p>
              <p>FullStack Developer</p>
              <p>tejasborkar@gmail.com</p>
              

            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
  
  

</body>

</html>