<section class="intro">
    <div class="bg-image h-100" >
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <div class="text-center pt-5">      
            <h2 style="margin-bottom:20px;">Cibil List</h2>          
          </div>
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="card">
                <div class="card-body p-0">
                  <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 300px; ">
                    <table class="table table-striped mb-0">
                      <thead style="background-color: #3081d7;">
                        <tr>
                          <th scope="col">cibilId</th>
                          <th scope="col">cibilScore</th>
                          <th scope="col">status</th>
                          <th scope="col">remarks</th>                          
                          <th scope="col">eID</th>
                          

                        </tr>
                      </thead>
                      <tbody>
                        <tr  *ngFor="let e of cibilList"> 
               
                          <td>{{e.cibilId}}</td>  
                          <td>{{e.cibilScore}}</td> 
                          <td>{{e.status}}</td> 
                          <td>{{e.remarks}}</td> 
                          <td>{{e.eid}}</td> 
                                           
  
            
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
