<h1 style="text-align: center;">Registration Form</h1> 
  <mat-card> 
    <mat-card-content fxLayout="column" fxLayoutAlign="center center"> 
  <mat-vertical-stepper [linear]="false" #stepper animationDuration="2000"> 
    <form [formGroup]="CregForm" (ngSubmit)="saveInfo()"> 
    <mat-step label="Applicant Info"> 
       
        <ng-template matStepLabel>Applicant Info</ng-template> 
  
        <mat-form-field> 
         <input matInput type="text" class="form-control" placeholder="Applicant Name" formControlName="name"> 
        </mat-form-field><br> 
        <mat-form-field> 
          <input matInput type="text"  class="form-control"placeholder="Applicant DOB" formControlName="dob"> 
        </mat-form-field><br> 
        <mat-form-field> 
          <input matInput type="text"  class="form-control"placeholder="Applicant age" formControlName="age"> 
        </mat-form-field><br> 
        <mat-form-field> 
          <input matInput type="text" class="form-control" placeholder="Applicant email"formControlName="email"> 
        </mat-form-field><br>
        <mat-form-field> 
          <input matInput type="text" class="form-control" placeholder="Personal Mobile Number"formControlName="mobileNo"> 
        </mat-form-field><br> 
        <mat-form-field> 
          <input matInput type="text" class="form-control" placeholder="Additional Mobile No"formControlName="cAdditionalMobileNo"> 
        </mat-form-field><br> 
        <mat-form-field> 
          <input matInput type="text" class="form-control" placeholder="Amount Paid for Home"formControlName="cAmountPaidforHome"> 
        </mat-form-field><br> 
        <mat-form-field> 
          <input matInput type="text" class="form-control" placeholder="Total Loan Required"formControlName="cTotalLoanRequired"> 
        </mat-form-field><br> 
       
        
         
         

         
        <div class="example-button-row"> 
          <button  mat-raised-button color="primary" matStepperNext>Next</button> 
        </div> 
       
    </mat-step> 
 
     
    <mat-step label="Customer Address" > 
      <div formGroupName="cAddress"> 
        <ng-template matStepLabel>Customer Address</ng-template> 
        <div formGroupName="permanant"> 
          <h1 style="background-color: rgb(21, 177, 216);">Permanant Address Details</h1>
        <mat-form-field> 
          <input matInput type="text" class="form-control" placeholder="Enter City Name"formControlName="cityname"> 
        </mat-form-field><br> 
        <mat-form-field> 
          <input matInput type="text" class="form-control" placeholder="Enter Area Name"formControlName="areaname"> 
        </mat-form-field><br> 
        <mat-form-field> 
          <input matInput type="text" class="form-control" placeholder="Enter District"formControlName="district"> 
        </mat-form-field><br> 
        <mat-form-field> 
          <input matInput type="text" class="form-control" placeholder="Enter State"formControlName="state"> 
        </mat-form-field><br> 
        <mat-form-field> 
          <input matInput type="text" class="form-control" placeholder="Enter Pincode"formControlName="pincode"> 
        </mat-form-field><br> 
        <mat-form-field> 
          <input matInput type="text" class="form-control" placeholder="Enter House Number"formControlName="houseno"> 
        </mat-form-field><br> 
        <mat-form-field> 
          <input matInput type="text" class="form-control" placeholder="Enter Street Name"formControlName="streetname"> 
        </mat-form-field><br> 
       </div>

       <div formGroupName="local"> 
        <h1 style="background-color: rgb(21, 177, 216);">Local Address Details</h1>
      <mat-form-field> 
        <input matInput type="text" class="form-control" placeholder="Enter City Name"formControlName="cityname"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text" class="form-control" placeholder="Enter Area Name"formControlName="areaname"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text" class="form-control" placeholder="Enter District"formControlName="district"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text" class="form-control" placeholder="Enter State"formControlName="state"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text" class="form-control" placeholder="Enter Pincode"formControlName="pincode"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text" class="form-control" placeholder="Enter House Number"formControlName="houseno"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text" class="form-control" placeholder="Enter Street Name"formControlName="streetname"> 
      </mat-form-field><br> 
     </div>
       

 
         <div> 
          <button mat-raised-button matStepperPrevious>Back</button> 
          <button mat-raised-button color="primary" matStepperNext>Next</button> 
        </div> 
      </div> 
    </mat-step>  

    

        
          
     

         <mat-step label="Profession"> 
      <div formGroupName="cProfession"> 
        <ng-template matStepLabel>Profession</ng-template> 
 
      <mat-form-field> 
        <input matInput type="text" class="form-control"  placeholder="Profession Type" formControlName="ptype"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text"  class="form-control"  placeholder="Income" formControlName="psalary"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text"  class="form-control"  placeholder="Income" formControlName="palaryType"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text"  class="form-control"  placeholder="Income" formControlName="pworkingperiod"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text"  class="form-control"  placeholder="Income" formControlName="pDesignation"> 
      </mat-form-field><br> 
  
        <div> 
          <button mat-raised-button matStepperPrevious>Back</button> 
          <button mat-raised-button color="primary" matStepperNext>Next</button> 
        </div> 
      </div> 
    </mat-step> 



    <mat-step label="Account Details"> 
      <div formGroupName="cAccountDetails"> 
        <ng-template matStepLabel>Account Details</ng-template> 
 
      <mat-form-field> 
        <input matInput type="text" class="form-control"  placeholder="Profession Type" formControlName="branchName"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text"  class="form-control"  placeholder="Income" formControlName="branchCode"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text"  class="form-control"  placeholder="Income" formControlName="ifsc"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text"  class="form-control"  placeholder="Income" formControlName="micrCode"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text"  class="form-control"  placeholder="Income" formControlName="contactNo"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text"  class="form-control"  placeholder="Income" formControlName="email"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text"  class="form-control"  placeholder="Income" formControlName="status"> 
      </mat-form-field><br> 

       <div formGroupName="branchAddress"> 
        <h1 style="background-color: rgb(21, 177, 216);">Bank Branch Address Details</h1>
      <mat-form-field> 
        <input matInput type="text" class="form-control" placeholder="Enter City Name"formControlName="cityname"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text" class="form-control" placeholder="Enter Area Name"formControlName="areaname"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text" class="form-control" placeholder="Enter District"formControlName="district"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text" class="form-control" placeholder="Enter State"formControlName="state"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text" class="form-control" placeholder="Enter Pincode"formControlName="pincode"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text" class="form-control" placeholder="Enter Street Name"formControlName="streetname"> 
      </mat-form-field><br> 
     </div>
       

 
         <div> 
          <button mat-raised-button matStepperPrevious>Back</button> 
          <button mat-raised-button color="primary" matStepperNext>Next</button> 
        </div> 
      </div> 
    </mat-step>  


    <mat-step label="GuarantorDetails"> 
      <div formGroupName="cGuarantorDetails"> 
        <ng-template matStepLabel>Guarantor Details</ng-template> 
 
      <mat-form-field> 
        <input matInput type="text" class="form-control"  placeholder="Profession Type" formControlName="gName"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text"  class="form-control"  placeholder="Income" formControlName="gDateofBirth"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text"  class="form-control"  placeholder="Income" formControlName="gRelationshipwithCustomer"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text"  class="form-control"  placeholder="Income" formControlName="gMobNo"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text"  class="form-control"  placeholder="Income" formControlName="gAdharCardNo"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text"  class="form-control"  placeholder="Income" formControlName="gMortgageDetails"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text"  class="form-control"  placeholder="Income" formControlName="gPermanentAddress"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text"  class="form-control"  placeholder="Income" formControlName="gloaclAddress"> 
      </mat-form-field><br> 
  
        <div> 
          <button mat-raised-button matStepperPrevious>Back</button> 
          <button mat-raised-button color="primary" matStepperNext>Next</button> 
        </div> 
      </div> 
    </mat-step> 

    <mat-step label="EducationalInfo"> 
      <div formGroupName="cEducationalInfo"> 
        <ng-template matStepLabel>Educational Information</ng-template> 
 
      <mat-form-field> 
        <input matInput type="text" class="form-control"  placeholder="Profession Type" formControlName="utype"> 
      </mat-form-field><br> 
     
        <div> 
          <button mat-raised-button matStepperPrevious>Back</button> 
          <button mat-raised-button color="primary" matStepperNext>Next</button> 
        </div> 
      </div> 
    </mat-step> 


    <mat-step label="LoanDetails"> 
      <div formGroupName="cLoanDetails"> 
        <ng-template matStepLabel>Loan Details</ng-template> 
 
      <mat-form-field> 
        <input matInput type="text" class="form-control"  placeholder="Profession Type" formControlName="loanNo"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text" class="form-control"  placeholder="Profession Type" formControlName="loanAmount"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text" class="form-control"  placeholder="Profession Type" formControlName="rateOfInterest"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text" class="form-control"  placeholder="Profession Type" formControlName="tenure"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text" class="form-control"  placeholder="Profession Type" formControlName="totalAmounttobepaid"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text" class="form-control"  placeholder="Profession Type" formControlName="processingFees"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text" class="form-control"  placeholder="Profession Type" formControlName="totalInterest"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text" class="form-control"  placeholder="Profession Type" formControlName="sanctionaDate"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text" class="form-control"  placeholder="Profession Type" formControlName="remark"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text" class="form-control"  placeholder="Profession Type" formControlName="status"> 
      </mat-form-field><br> 
      
       <div formGroupName="emidetails"> 
        <h1 style="background-color: rgb(21, 177, 216);">EMI Details</h1>
      <mat-form-field> 
        <input matInput type="text" class="form-control" placeholder="Enter City Name"formControlName="nextEmiDueDate"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text" class="form-control" placeholder="Enter Area Name"formControlName="emiAmountMonthly"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text" class="form-control" placeholder="Enter District"formControlName="previousEmiStatus"> 
      </mat-form-field><br> 
    </div>
        

 
    <div> 
      <button mat-raised-button matStepperPrevious>Back</button> 
      <button mat-raised-button color="primary" matStepperNext>Next</button> 
    </div> 
  </div> 
</mat-step>




<mat-step label="PreviousLoan"> 
  <div formGroupName="cPreviousLoan"> 
    <ng-template matStepLabel>Previous Loan Details</ng-template> 

  <mat-form-field> 
    <input matInput type="text" class="form-control"  placeholder="Profession Type" formControlName="ploanAmount"> 
  </mat-form-field><br> 
  <mat-form-field> 
    <input matInput type="text"  class="form-control"  placeholder="Income" formControlName="pTenure"> 
  </mat-form-field><br> 
  <mat-form-field> 
    <input matInput type="text"  class="form-control"  placeholder="Income" formControlName="paidAmount"> 
  </mat-form-field><br> 
  <mat-form-field> 
    <input matInput type="text"  class="form-control"  placeholder="Income" formControlName="remainingAmount"> 
  </mat-form-field><br> 
  <mat-form-field> 
    <input matInput type="text"  class="form-control"  placeholder="Income" formControlName="deafulterCount"> 
  </mat-form-field><br> 
  <mat-form-field> 
    <input matInput type="text"  class="form-control"  placeholder="Income" formControlName="status"> 
  </mat-form-field><br>
  <mat-form-field> 
    <input matInput type="text"  class="form-control"  placeholder="Income" formControlName="remark"> 
  </mat-form-field><br>

  <div formGroupName="pbankDetails"> 
    <h1 style="background-color: rgb(21, 177, 216);">Previous Bank Details</h1>
  <mat-form-field> 
    <input matInput type="text" class="form-control" placeholder="Enter City Name"formControlName="branchName"> 
  </mat-form-field><br> 
  <mat-form-field> 
    <input matInput type="text" class="form-control" placeholder="Enter Area Name"formControlName="branchCode"> 
  </mat-form-field><br> 
  <mat-form-field> 
    <input matInput type="text" class="form-control" placeholder="Enter District"formControlName="ifsc"> 
  </mat-form-field><br> 
  <mat-form-field> 
    <input matInput type="text" class="form-control" placeholder="Enter District"formControlName="micrCode"> 
  </mat-form-field><br> 
  <mat-form-field> 
    <input matInput type="text" class="form-control" placeholder="Enter District"formControlName="contactNo"> 
  </mat-form-field><br> 
  <mat-form-field> 
    <input matInput type="text" class="form-control" placeholder="Enter District"formControlName="status"> 
  </mat-form-field><br> 
  <mat-form-field> 
    <input matInput type="text" class="form-control" placeholder="Enter District"formControlName="email"> 
  </mat-form-field><br> 

  <div formGroupName="branchAddress"> 
    <h1 style="background-color: rgb(21, 177, 216);">Previous Bank Address</h1>
  <mat-form-field> 
    <input matInput type="text" class="form-control" placeholder="Enter City Name"formControlName="cityname"> 
  </mat-form-field><br> 
  <mat-form-field> 
    <input matInput type="text" class="form-control" placeholder="Enter Area Name"formControlName="areaname"> 
  </mat-form-field><br> 
  <mat-form-field> 
    <input matInput type="text" class="form-control" placeholder="Enter District"formControlName="district"> 
  </mat-form-field><br> 
  <mat-form-field> 
    <input matInput type="text" class="form-control" placeholder="Enter District"formControlName="state"> 
  </mat-form-field><br> 
  <mat-form-field> 
    <input matInput type="text" class="form-control" placeholder="Enter District"formControlName="pincode"> 
  </mat-form-field><br> 
  <mat-form-field> 
    <input matInput type="text" class="form-control" placeholder="Enter District"formControlName="streetname"> 
  </mat-form-field><br> 
  </div>



  </div>
    
  <div> 
    <button mat-raised-button matStepperPrevious>Back</button> 
    <button mat-raised-button color="primary" matStepperNext>Next</button> 
  </div> 
</div> 
</mat-step>






    <!-- <mat-step label="Loan Details"> 
      <div formGroupName="sanctionletter"> 
        <ng-template matStepLabel>Loan Details</ng-template> 
 
        <mat-form-field> 
          <input matInput type="text" class="form-control"  placeholder="Sanction Id" formControlName="id"> 
        </mat-form-field><br> 
        <mat-form-field> 
          <input matInput type="text" class="form-control"  placeholder="Bank Name" formControlName="bankName"> 
        </mat-form-field><br> 
        <mat-form-field> 
          <input matInput type="text" class="form-control"  placeholder="Account Number" formControlName="accountNumber"> 
        </mat-form-field><br> 
        <mat-form-field> 
          <input matInput type="text" class="form-control"  placeholder="Tenure (Month)" formControlName="tenure"> 
        </mat-form-field><br> 
        <mat-form-field> 
          <input matInput type="text"class="form-control" placeholder="Applicant Loan Required" formControlName="customerTotalLoanRequired"> 
        </mat-form-field><br> 

        <div> 
          <button mat-raised-button matStepperPrevious>Back</button> 
          <button mat-raised-button color="primary" matStepperNext>Next</button> 
        </div> 
      </div> 
    </mat-step>   -->
 
<!--  
    <mat-step label="Gurantor Details"> 
      <div formGroupName="gurantordetails"> 
        <ng-template matStepLabel>Gurantor Details</ng-template> 
 
      <mat-form-field> 
        <input matInput type="text" class="form-control"  placeholder=" Guarantor Name" formControlName="guarantorName"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text"  class="form-control"  placeholder="Guarantor Mobile Number" formControlName="guarantorMobileNumber"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text"  class="form-control"  placeholder=" Guarantor Permanent Address" formControlName="guarantorPermanentAddress"> 
      </mat-form-field><br> 
        <div> 
          <button mat-raised-button matStepperPrevious>Back</button> 
          <button mat-raised-button color="primary" mat-raised-button color="primary" matStepperNext>Next</button> 
        </div> 
      </div> 
    </mat-step>  -->
<!--  []
    <mat-step label="Ledger"> 
      <div formGroupName="ledger"> 
        <ng-template matStepLabel>Ledger</ng-template> 
 
      <mat-form-field> 
        <input matInput type="text" class="form-control"  placeholder="Ledger Created Date" formControlName="ledgerCreatedDate"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text"  class="form-control"  placeholder="Total Loan Amount" formControlName="totalLoanAmount"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text"  class="form-control"  placeholder="Payable Amount with Interest" formControlName="payableAmountwithInterest"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text" class="form-control" placeholder="Tenure" formControlName="tenure"> 
      </mat-form-field><br> 
    <mat-form-field> 
        <input matInput type="text"  class="form-control"  placeholder="Monthly EMI"formControlName="monthlyEmi"> 
      </mat-form-field><br> 
    <mat-form-field> 
        <input matInput type="text"  class="form-control"  placeholder="Loan End Date "formControlName="loanEndDate"> 
      </mat-form-field><br> 
 
        <div> 
          <button mat-raised-button matStepperPrevious>Back</button> 
          <button mat-raised-button color="primary" matStepperNext>Next</button> 
        </div> 
      </div> 
    </mat-step> --> 
 
 
 
    <!-- <mat-step label="Car Info"> 
      <div formGroupName="carinfo"> 
        <ng-template matStepLabel>Car Info </ng-template> 
        <mat-form-field> 
        <input matInput type="text" class="form-control"  placeholder="Car Model No" formControlName="carModelNo"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text" class="form-control"  placeholder="Car Name" formControlName="carName"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text"  class="form-control"  placeholder="Brand Name" formControlName="brandName"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text"  class="form-control"  placeholder="Car Price" formControlName="carPrice"> 
      </mat-form-field><br> 
      <mat-form-field> 
        <input matInput type="text" class="form-control"  placeholder="Colour" formControlName="colour"> 
      </mat-form-field><br> 
       
        <div>       
          <ng-template matStepLabel>Done</ng-template> 
          You are now done. 
          <div> 
            <button mat-raised-button  matStepperPrevious>Back</button> 
            <button mat-raised-button color="success"  type="submit"  (click)="saveInfo()" >Submit</button> 
            <button mat-raised-button color="primary" (click)="stepper.reset()">Reset</button> 
          </div> 
        </div> 
      </div> 
 
    </mat-step>  -->
  </form> 
  </mat-vertical-stepper> 
</mat-card-content> 
</mat-card>
