<p>view-sanction works!</p>
<section class="intro">
    <div class="bg-image h-100" >
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <div class="text-center pt-5">      
            <h1 style="margin-bottom:20px;">Applicant List</h1>          
          </div>
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="card">
                <div class="card-body p-0">
                  <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px; ">
                    <table class="table table-striped mb-0">
                      <thead style="background-color:  #3081d7;">
                        <tr>
                          <th scope="col">SID</th>
                          <th scope="col">SanctionDate</th>
                          <th scope="col">ProspectNo</th>
                          <th scope="col">ApplicationName</th>                          
                          <th scope="col">ContactDetails</th>
                          <th scope="col">Product</th> 
                          <th scope="col">LoanAmtSabctioned</th> 
                          <th scope="col">InterestType</th> 
                          <th scope="col">RateofInterest</th> 
                          <th scope="col">LoanTenure</th> 
                          <th scope="col">MonthlyEmiAmount</th> 
                          <th scope="col">ModeofPayment</th> 
                          <th scope="col">Remarks</th> 
                          <th scope="col">TermsAndCondition</th> 
                          <th scope="col">Status</th> 
                          

                        </tr>
                      </thead>

                      <tbody>
                        <tr *ngFor="let e of anctionList">                
                          <td>{{e.sid}}</td>  
                          <td>{{e.sanctionDate}}</td> 
                          <td>{{e.prospectNo}}</td> 
                          <td>{{e.applicantName}}</td> 
                          <td>{{e.contactDetails}}</td> 
                          <td>{{e.product}}</td>
                          <td>{{e.loanAmtSanctioned}}</td>
                          <td>{{e.interestType}}</td>
                          <td>{{e.rateOfInterest}}</td>
                          <td>{{e.monthlyEmiAmount}}</td>
                          <td>{{e.modeOfPayment}}</td>
                          <td>{{e.remarks}}</td>
                          <td>{{e.termsandCondition}}</td>
                          <td>{{e.status}}</td>
                          
                          


                                           
          
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
