<h1>New Enquiry</h1>
<mat-card>
  <mat-card-content fxLayout="column" fxLayoutAlign="center center">
  <form [formGroup]="enquiryForm" ><!--(ngSubmit)="onSave()"-->

    
      <ng-template >name</ng-template>
      <mat-form-field>

        <input matInput type="text" class="form-control" placeholder="Enter Name"  formControlName="name" >
      </mat-form-field> <br>
      <mat-form-field>
       <input matInput type="text" class="form-control" placeholder="Enter Date of Birth" formControlName="dob">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput type="text"  class="form-control"placeholder="Enter Age" formControlName="age">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput type="text"  class="form-control"placeholder="Enter Gender" formControlName="gender">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput type="text"  class="form-control"placeholder="Enter Email Id" formControlName="email">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput type="text" class="form-control" placeholder="Enter Contact Info"formControlName="mobileNo">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput type="text"class="form-control" placeholder="PANCARD details" formControlName="pancardNo">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput type="text"class="form-control" placeholder="ADHARCARD DETAILS" formControlName="addharCardNo">
      </mat-form-field><br>
      <div>
        <button type="submit" (click)="onSave()" routerLink="../review" class="btn btn-danger" mat-raised-button color="primary">Submit</button>
      </div>
      <!-- onclick="showSwal('success-message')" -->
 </form>
</mat-card-content>
</mat-card>

<div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>

</div>

