



<div class="card">
    <div class="card-header">Upload Documents</div>
    <div class="card-body">
        <form novalidate [formGroup]="doc">
            <div>
            
                Applicant Id
            <input type="text" class="form-control" formControlName="eid" disabled >
            </div><pre></pre>
            
                <div *ngIf="this.rs.c.eid!=0">
          
                <div class="custom-file">
                     AddressProof <input type="file" class="form-control" id="importFile1" (change)="onselectFile1($event)">
                   
                </div><pre></pre>

            <div class="custom-file">
                PanCard <input type="file" class="form-control" id="importFile2" (change)="onselectFile2($event)">
       
            </div><br><pre></pre>

            <div class="custom-file">
                ITR <input type="file" class="form-control" id="importFile3"
                    (change)="onselectFile3($event)">
               
            </div><br><pre></pre>
            <div class="custom-file">
                Adharcard <input type="file" class="form-control" id="importFile4"
                    (change)="onselectFile4($event)">
            
            </div><br><pre></pre>
            <div class="custom-file">
                Photo <input type="file" class="form-control" id="importFile5" (change)="onselectFile5($event)">
       
            </div>

            <br><pre></pre>
            <div class="custom-file">
                Signature <input type="file" class="form-control" id="importFile6" (change)="onselectFile6($event)">
       
            </div>

            <br><pre></pre>
            <div class="custom-file">
                BankCheque <input type="file" class="form-control" id="importFile7" (change)="onselectFile7($event)">
       
            </div>

            <br><pre></pre>
            <div class="custom-file">
                SalarySlip <input type="file" class="form-control" id="importFile8" (change)="onselectFile8($event)">
       
            </div>

            <br><pre></pre>
            <div class="form-group">
                <button mat-raised-button color="primary" type="button" (click)="Submit()">
                    <i class="fas fa-file-import"></i> Upload Documents </button>
            </div>
        </div>
        </form>
    </div>
</div>
