<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="wrapper">
  <div class="top_nav" style="background-image: url(https://www.shutterstock.com/image-vector/abstract-blue-red-grey-tech-260nw-1184202226.jpg); background-repeat: no-repeat; background-size: 100%; background-image: linear-gradient(#8f70eb, #eb11e0cd); ">
    <div >
      <div class=" row">
        <!-- <div class="col col-md-2">
        <img src="assets\img\logo.png" width="150" height="130" style="margin-top: 10px;"/> -->
      <!-- </div> -->
      <div class="col col-md-60">
         <img src="https://w7.pngwing.com/pngs/310/332/png-transparent-computer-icons-home-house-desktop-service-home-blue-logo-room.png"  width="80px" height="70px"  class="col col-md-100" > 
      </div>
      </div> 
    </div>
    
  

    <div class="col col-md-100">
    <h1 class="right">DREAM HOMES FINANCE</h1>
    </div>
    <div>
      <button class="btn" (click)="log()"
      
        style="height: 40px; width: 80px; background-color:rgb(21, 194, 237); margin-right: 30px ;">Login</button>
        <!-- <button type="button" class="btn btn-primary vv" data-bs-toggle="modal" data-bs-target="#exampleModal" >
          login
         </button> -->
    </div>
  </div>
  
  <!-- <marquee behavior="alternate"><a href="#">Email US-info@universalfinances@gmail.com <br></a>
  </marquee> -->
  <div class="manual">
    <div class="nav " data-spy="affix" data-offset-top="197">
      
      <nav>

        <input type="checkbox" id="click">

        <ul>
          <li routerLinkActive="active" routerLinkActive="active"><a href="#">HOME</a></li>
          <li><a routerLink="/emical" routerLinkActive="active" >EMI CALCULATOR</a></li> 
          <li><a routerLink="/apply" routerLinkActive="active">PROSESS TO APPLY</a></li>   
          <li><a routerLink="/faq" routerLinkActive="active">FAQs</a></li>
          <li><a routerLink="/about" routerLinkActive="active">ABOUT US</a></li>            
          <li><a routerLink="/contact"routerLinkActive="active">CONTACT US</a></li>
                </ul>
        
      </nav>
      
    </div>
    
      

  </div>
  <router-outlet></router-outlet>


  <div  class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-left: 30%;">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <div class="body1" >
          <div class="wrapper1">
            <div class="logo1">
                <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt="">
            </div>
            <div class="text-center mt-4 name" >
                Login
            </div>
            <form class="p-3 mt-3" [formGroup]="loginform" (ngSubmit)="login()">
                <div class="form-field d-flex align-items-center">
                    <span class="far fa-user"></span>
                    <input type="text" formControlName="firstname" id="userName" placeholder="Username">
                </div>
                <div class="form-field d-flex align-items-center">
                    <span class="fas fa-key"></span>
                    <input type="password" formControlName="password" id="pwd" placeholder="Password">
                </div>
                <button class="btn mt-3">Login</button>
            </form>
            <div class="text-center fs-6">
                <a href="#">Forget password?</a> or <a href="#">Sign up</a>
            </div>
          </div>          
          </div>  
      </div>
    </div>
  </div>  
  </div>
